# Checkpoint Two: Exploratory Data Analysis

Now that your chosen dataset is approved, it is time to start working on your analysis. Use this notebook to perform your EDA and make notes where directed to as you work.

## Getting Started

Since we have not provided your dataset for you, you will need to load the necessary files in this repository. Make sure to include a link back to the original dataset here as well.

My dataset: https://www.kaggle.com/datasets/prosperchuks/health-dataset?resource=download&select=hypertension_data.csv

Your first task in EDA is to import necessary libraries and create a dataframe(s). Make note in the form of code comments of what your thought process is as you work on this setup task.

In [2]:
# Import the appropriate libraries with aliases
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Create three new dataframes for each csv
diabetes_df = pd.read_csv(r"diabetes_data.csv")
hypertension_df = pd.read_csv(r"hypertension_data.csv")
stroke_df = pd.read_csv(r"stroke_data.csv")

# Changing view so all columns will be displayed 
pd.set_option('display.max_columns', 200) 

# displaying all dfs 
display(diabetes_df.head(10))
display(hypertension_df.head(10))
display(stroke_df.head(10))

,Age,Sex,HighChol,CholCheck,BMI,Smoker,HeartDiseaseorAttack,PhysActivity,Fruits,Veggies,HvyAlcoholConsump,GenHlth,MentHlth,PhysHlth,DiffWalk,Stroke,HighBP,Diabetes
0,4.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,0.0,1.0,0.0,3.0,5.0,30.0,0.0,0.0,1.0,0.0
1,12.0,1.0,1.0,1.0,26.0,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0
2,13.0,1.0,0.0,1.0,26.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,10.0,0.0,0.0,0.0,0.0
3,11.0,1.0,1.0,1.0,28.0,1.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,3.0,0.0,0.0,1.0,0.0
4,8.0,0.0,0.0,1.0,29.0,1.0,0.0,1.0,1.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0
5,1.0,0.0,0.0,1.0,18.0,0.0,0.0,1.0,1.0,1.0,0.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0
6,13.0,1.0,1.0,1.0,26.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6.0,1.0,0.0,1.0,31.0,1.0,0.0,0.0,1.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0
8,3.0,0.0,0.0,1.0,32.0,0.0,0.0,1.0,1.0,1.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6.0,1.0,0.0,1.0,27.0,1.0,0.0,0.0,1.0,1.0,0.0,3.0,0.0,6.0,0.0,0.0,0.0,0.0

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57.0,1.0,3,145,233,1,0,150,0,2.3,0,0,1,1
1,64.0,0.0,2,130,250,0,1,187,0,3.5,0,0,2,1
2,52.0,1.0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56.0,0.0,1,120,236,0,1,178,0,0.8,2,0,2,1
4,66.0,0.0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,51.0,1.0,0,140,192,0,1,148,0,0.4,1,0,1,1
6,42.0,0.0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,38.0,0.0,1,120,263,0,1,173,0,0.0,2,0,3,1
8,72.0,0.0,2,172,199,1,1,162,0,0.5,2,0,3,1
9,47.0,0.0,2,150,168,0,1,174,0,1.6,2,0,2,1

,sex,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1.0,63.0,0,1,1,4,1,228.69,36.6,1,1
1,1.0,42.0,0,1,1,4,0,105.92,32.5,0,1
2,0.0,61.0,0,0,1,4,1,171.23,34.4,1,1
3,1.0,41.0,1,0,1,3,0,174.12,24.0,0,1
4,1.0,85.0,0,0,1,4,1,186.21,29.0,1,1
5,1.0,55.0,1,1,1,4,0,70.09,27.4,0,1
6,0.0,82.0,0,0,0,4,1,94.39,22.8,0,1
7,0.0,17.0,1,0,1,4,0,80.43,29.7,0,1
8,1.0,31.0,0,1,1,2,0,120.46,36.8,1,1
9,0.0,55.0,0,0,1,4,1,104.51,27.3,1,1

## Get to Know the Numbers

Now that you have everything setup, put any code that you use to get to know the dataframe and its rows and columns better in the cell below. You can use whatever techniques you like, except for visualizations. You will put those in a separate section.

When working on your code, make sure to leave comments so that your mentors can understand your thought process.

In [54]:
# printing columns and defining them for quick reference
display(diabetes_df.columns)
display(hypertension_df.columns)
display(stroke_df.columns)

Index(['Age', 'Sex', 'HighChol', 'CholCheck', 'BMI', 'Smoker',
       'HeartDiseaseorAttack', 'PhysActivity', 'Fruits', 'Veggies',
       'HvyAlcoholConsump', 'GenHlth', 'MentHlth', 'PhysHlth', 'DiffWalk',
       'Stroke', 'HighBP', 'Diabetes'],
      dtype='object')

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

Index(['sex', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

Diabetes DF

Age: 13-level age category (_AGEG5YR see codebook) 
    1=18-24 2=25-29 3=30-34 4=35-39 5=40-44 6=45-49 7=50-54 8=50-59 9=60-64 10=65-69 11=70-74 12=75-79 13=80 or older
Sex: patient's gender, 0=female 1=male 
HighChol: 0=no high cholesterol 1=high cholesterol
CholCheck: 0=no cholesterol check in 5 years 1=yes cholesterol check in 5 years
BMI: Body Mass Index 
Smoker: Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes] 0=no 1=yes
HeartDiseaseorAttack: coronary heart disease (CHD) or myocardial infarction (MI) 0=no 1=yes
PhysActivity: physical activity in past 30 days - not including job 0=no 1=yes
Fruits: Consume Fruit 1 or more times per day 0=no 1=yes
Veggies: Consume Vegetables 1 or more times per day 0=no 1=yes
HvyAlcoholConsump: adult men >=14 drinks per week and adult women>=7 drinks per week; 0=no 1=yes
GenHlth: Would you say that in general your health is: scale 1-5 1=excellent 2=very good 3=good 4=fair 5=poor
MentHlth: days of poor mental health scale 1-30 days 
PhysHlth: physical illness or injury days in past 30 days scale 1-30
DiffWalk: Do you have serious difficulty walking or climbing stairs? 0=no 1=yes
Stroke: you ever had a stroke 0=no 1=yes
HighBP: 0=no high, BP 1=high BP
Diabetes: 0=no diabetes, 1=diabetes

Stroke DF
sex: patient's gender, 0=female 1=male 
age: patient's age (in years)
hypertension: 0= never had hypertension 1=patient has ever had hypertension
heart_disease: 0= never had heart disease 1=patient has had heart disease
ever_married: 0=patient is not married 1=patient is married
work_type: 0=Never_worked, 1=children, 2=Govt_job, 3=Self-employed, 4=Private
Residence_type: patient area: 0=Rural 1=Urban
avg_glucose_level: patient average blood sugar level
bmi: Body Mass Index
smoking_status: 0:never smoked and 1=smokes
stroke: 0=no stroke 1=stroke

In [27]:
#using .info() to get an idea of the following items in each df: column names, if null values are present, and each column's datatype 
display(diabetes_df.info())
display(hypertension_df.info())
# null values in "Sex"
display(stroke_df.info())
# null values in "Sex"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70692 entries, 0 to 70691
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   70692 non-null  float64
 1   Sex                   70692 non-null  float64
 2   HighChol              70692 non-null  float64
 3   CholCheck             70692 non-null  float64
 4   BMI                   70692 non-null  float64
 5   Smoker                70692 non-null  float64
 6   HeartDiseaseorAttack  70692 non-null  float64
 7   PhysActivity          70692 non-null  float64
 8   Fruits                70692 non-null  float64
 9   Veggies               70692 non-null  float64
 10  HvyAlcoholConsump     70692 non-null  float64
 11  GenHlth               70692 non-null  float64
 12  MentHlth              70692 non-null  float64
 13  PhysHlth              70692 non-null  float64
 14  DiffWalk              70692 non-null  float64
 15  Stroke                70692 non-null  float64
 16  HighBP                70692 non-null  float64
 17  Diabetes              70692 non-null  float64
dtypes: float64(18)
memory usage: 9.7 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26083 entries, 0 to 26082
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       26083 non-null  float64
 1   sex       26058 non-null  float64
 2   cp        26083 non-null  int64
 3   trestbps  26083 non-null  int64
 4   chol      26083 non-null  int64
 5   fbs       26083 non-null  int64
 6   restecg   26083 non-null  int64
 7   thalach   26083 non-null  int64
 8   exang     26083 non-null  int64
 9   oldpeak   26083 non-null  float64
 10  slope     26083 non-null  int64
 11  ca        26083 non-null  int64
 12  thal      26083 non-null  int64
 13  target    26083 non-null  int64
dtypes: float64(3), int64(11)
memory usage: 2.8 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40910 entries, 0 to 40909
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   sex                40907 non-null  float64
 1   age                40910 non-null  float64
 2   hypertension       40910 non-null  int64
 3   heart_disease      40910 non-null  int64
 4   ever_married       40910 non-null  int64
 5   work_type          40910 non-null  int64
 6   Residence_type     40910 non-null  int64
 7   avg_glucose_level  40910 non-null  float64
 8   bmi                40910 non-null  float64
 9   smoking_status     40910 non-null  int64
 10  stroke             40910 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 3.4 MB

None

Takeaways: 
- each df has a wide variance in # of entries 
- all dtypes are float or int
- null values present in both hypertension_df and stroke_df "sex" columns

In [15]:
# using .isnull.sum to look further into null values, and get a total of how many null values are present in each df
display(diabetes_df.isnull().sum())
display(hypertension_df.isnull().sum())
display(stroke_df.isnull().sum())

Age                     0
Sex                     0
HighChol                0
CholCheck               0
BMI                     0
Smoker                  0
HeartDiseaseorAttack    0
PhysActivity            0
Fruits                  0
Veggies                 0
HvyAlcoholConsump       0
GenHlth                 0
MentHlth                0
PhysHlth                0
DiffWalk                0
Stroke                  0
HighBP                  0
Diabetes                0
dtype: int64

age          0
sex         25
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
target       0
dtype: int64

sex                  3
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

Hypertension_df "sex" column has 25 NaN and stroke_df "sex" column has 3 NaN.

In [20]:
# using nunqiue() to see how many unqiue values each df's columns hold.
display(diabetes_df.nunique())
display(hypertension_df.nunique())
display(stroke_df.nunique())
# these results make sense as most of the data represents answers to "yes" or "no" questions, displayed with 0 (no) or 1 (yes)
# "age" in diabetes_df used a calculated age varaible, grouping years of age into variables 1-13 vs. hypertension_df and stroke_df used the the actual age of the person

Age                     13
Sex                      2
HighChol                 2
CholCheck                2
BMI                     80
Smoker                   2
HeartDiseaseorAttack     2
PhysActivity             2
Fruits                   2
Veggies                  2
HvyAlcoholConsump        2
GenHlth                  5
MentHlth                31
PhysHlth                31
DiffWalk                 2
Stroke                   2
HighBP                   2
Diabetes                 2
dtype: int64

age          88
sex           2
cp            4
trestbps     49
chol        152
fbs           2
restecg       3
thalach      91
exang         2
oldpeak      40
slope         3
ca            5
thal          4
target        2
dtype: int64

sex                     2
age                   111
hypertension            2
heart_disease           2
ever_married            2
work_type               5
Residence_type          2
avg_glucose_level    2903
bmi                   370
smoking_status          2
stroke                  2
dtype: int64

These results make sense as most of the data represents answers to "yes" or "no" questions, displayed with 0 (no) or 1 (yes). 
"Age" in diabetes_df used a calculated age varaible, grouping years of age into variables 1-13 vs. hypertension_df and stroke_df used the the actual age of the person.

In [26]:
# checking for any duplicate entires 
diabetes_df.loc[diabetes_df.duplicated()]
hypertension_df.loc[hypertension_df.duplicated()]
stroke_df.loc[stroke_df.duplicated()]

Empty DataFrame
Columns: [sex, age, hypertension, heart_disease, ever_married, work_type, Residence_type, avg_glucose_level, bmi, smoking_status, stroke]
Index: []

No duplicative rows exist in any df.

## Visualize

Create any visualizations for your EDA here. Make note in the form of code comments of what your thought process is for your visualizations.

In [ ]:
# creating a visualization to se

## Summarize Your Results

With your EDA complete, answer the following questions.

1. Was there anything surprising about your dataset? 
    I was surprised to find how much the size of each dataset varied. I also found it surpising that no lifestyle factors were collected in the hypertension dataset compared to the diabetes and stroke datasets. 
2. Do you have any concerns about your dataset? 
    I do not currently have any majoy concerns about my dataset. The information gathered during my EDA efforts has shown not much cleaning will be required in this dataset. 
3. Is there anything you want to make note of for the next phase of your analysis, which is cleaning data? 
    As I am looking at lifestyle factors and their correlation to hypertension, diabetes, and strokes, I don't think I will be utilizing any data from the hypertension df. For cleaning the dataset, I would like to rename columns in an effort to have a more cohesive dataset. I would also like to join my dataframes but this would result in NaN values as the dfs do not share the same columns.